/*import fonts*/
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

/*For all*/
body {
  margin: auto;
}


/*For Logo and Nav Menu*/
@media screen and (min-width: 600px) {
	.menu {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	 	grid-auto-rows: 1fr;
	  	grid-gap: 1rem;
	  	grid-auto-flow: dense;
	}

	.button {
		font-family: Avenir, Heveltica, Arial, san-serif;
		text-decoration: none;
		font-size: 140%;
		color: #000;
	}

	.button:hover {
		border-radius: 200px;
		background-color: #000;
		/*font-style: italic;*/
		color: #fff;
	}
}

/*.menu {
	border-bottom: 1px solid black;
}*/

.menu a {
	display: block;
	text-align: center;
	margin: auto;
}

.button {
	font-family: Avenir, Heveltica, Arial, san-serif;
	text-decoration: none;
	font-size: 140%;
	color: #000;
}

.button:hover {
	border-radius: 200px;
	background-color: #000;
	color: #fff;
}

hr {
	margin: 0.5em 5% 2em;
	border: solid black;
	border-width: 1px;
	/*width: 500px;*/
}

/*For title*/
.title {
	text-align: center;
	/*marker: auto;*/
}

/*For Grid of Work*/
@media screen and (min-width: 600px) {
	.grid_games {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
	 	grid-auto-rows: 1fr;
	  	/*grid-gap: 1rem;*/
	  	/*grid-auto-flow: dense;*/
	}

	div:nth-child(1) {
		grid-row: span 1;
	}

	div:nth-child(2){
		grid-row: span 1;
	}
}

/*For Banner*/
.banner {
	/*border: solid black;*/
	position: relative;
	left: 28.5%;
	/*margin: auto;*/ 
	width: 70%;
	height: auto;
}

/*For Images*/
.mainImage {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
	border: solid black;
}

/*For the Links*/
.link {
	margin: auto;
	text-align: left;
	text-decoration: none;
	font-family: 'VT323', monospace;
	font-size: 20px;
	color: darkblue;
}

.link:hover{
	color: salmon;
	font-style: italic;
}

/*For Description*/
.description {
	border-left: 1px solid black;
	/*display: block;
	max-width: 50%;
	margin: auto;*/
	width: 70%;
	height: auto;
	padding-left: 2px;
}

/*For CopyRight*/
.copyRight {
	border: 1px solid black;
	text-align: center;
	font-size: 80%;
	margin-top: 1em;
	padding: 2em;
}