@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Castoro&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6b30bc; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4C1499; 
}

#navar {
	padding: 8px 20px;
	box-shadow: 0 1px 5px rgba(0,0,2,.23);
	background-color: #ffffff;
}

#navar-img {
	padding: 5px;
}

#navar-as {
	height: 100%;
	width: auto;
}

.icon-bar {
	background-color: #222222;
}

#navar-ul a {
	font-size: 18px;
	color: #222222;
	font-family: 'Share Tech', sans-serif;
}

#navar-ul a:hover {	
	color: #6b30bc;
	font-weight: bold;
	background-color: transparent;
}

#body {
	min-height: 100vh;
	position: relative;
}

.body-container {
	margin: 0 auto;
    left: 0;
    right: 0;
    margin-top: 10vh;
}

.work-header {
	text-align: center;
	padding-bottom: 5em;
	padding-top: 5em;
}

.work-title {
	font-family: 'Share Tech', sans-serif;
	font-size: 48px;
	color: #6b30bc;
}

.work-tags {
	font-family: 'Castoro', serif;
	color: #222;
}

.work-tags b {
	/*color: #6b30bc;*/
	display: inline-block;
	padding: 8px;
}

.description-col {
	font-family: 'Castoro', serif;
	font-size: 16px;
	position: relative;
	color: #222;
}

.work-head {
	color: #222;
	/*font-weight: bold;*/
	font-family: 'Share Tech', sans-serif;
	border-bottom: solid;
}

.work-subhead {
	font-family: 'Nunito Sans', sans-serif;
}

.view {
	text-align: left;
	font-family: 'Nunito Sans', sans-serif;
	margin-top: 1em;
	font-size: 14px;
}

.view a {
	border: solid #6b30bc;
	padding: 5px 10px;
	color: #6b30bc;
}

.view a:hover {
	text-decoration: none;
	background-color: #6b30bc;
	color: #fff;
}

.img-col img {
	width: 100%;
	height: auto;
}

.project-links {
	text-align: center;
}

.project-links hr {
	border-color: #222;
}

.project-links a {
	color: #6b30bc;
	font-family: 'Nunito Sans', sans-serif;
}

#footer {
	margin-top: 10em;
	text-align: center;
}

#footer p {
	font-family: 'Castoro', serif;
	max-width: 130px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 0;
	padding-bottom: 5px;
	border-bottom: dotted;
	border-width: 6px;
	font-size: 16px;
}

.footer-tags {
	margin-top: 10px;
}

.footer-tags a {
	color: #6b30bc;
	padding: 0 10px;
	position: relative;
	text-decoration: none;
	top: 1px;
    display: inline-block;
    font-size: 28px;
}

.footer-tags a:hover {
	color: #222;
	transform: translateY(-3px);
}

@media only screen and (max-width: 600px) {
	#body .col-sm-6 {
		margin-top: 2em;
		margin-bottom: 2em;
	}
}